extends layout/main.pug

block body
  h1 로그인

  form(action='/login', method='post')
    input(type='hidden', name='_csrf', value=csrfToken)
    label
      span 사용자 이름
      input(type='text', name='username')
    label
      span 비밀번호
      input(type='text', name='password')
    button(type='submit') 로그인

  p: a(href='/register') 회원 가입
